
#productList{

    background-color: rgb(183, 224, 224);
      /* border: 1px solid red; */
}
#Product{
    
    border: 1px solid red;
    /* margin: 10px 15px 10px 15px ; */
    margin-left: 20%;
    margin-right: 20%;
    /* padding: 20px 10px 20px 10px; */
    /* display: flex; */
    padding: 20px 10px;
    font-weight: bold;
    font-size: 25px;

}
img{
    /* border: 1px solid red; */
     margin-left: 10%;
     margin-right: 10%;
    height: 50vh;
    width: 30vw;
    padding: 5% 3% 5% 3%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: -10px;
    padding-bottom: -10%;
    border-radius: 5%;
    
}

#input{

      height: 25px;

}
#btn{
     
    padding: 5px 5px 5px 5px;
}
.Search{
     
     padding: 15px 20px 15px 20px ;
     /* border: 1px solid red; */
}